@import url('https://fonts.googleapis.com/css?family=Cinzel');

.Display-box {
    background-color: #222;
    padding: 10px;
    border: gold 5px outset;
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stat-display{
    display: flex;
    flex-flow: column;
    align-content: center;
}

.stats {
    font-size: 12px;
    margin: 3px;
    color: #ddd;
    font-family: 'Cinzel', sans-serif;
}
.display-input{
    background: #333;
    border: none;
    color: #ddd;
    font-family: 'Cinzel', sans-serif;
    border-radius: 3px;
}
.display-input:focus {
    outline: none;
}
.buttons{
    position: relative;
    top: 10px;
}
.generate-encounter{
    position: relative;
    left: 30px;
}
.stats-appearing {
    display: inline;
    font-family: 'Cinzel' , sans-serif;
    margin-left: 5px;
}
.attackDefence {
    position: relative;
    left: 10px;
    font-size: 11px;
}
.attackDefence-result {
    position: relative;
    left: 0px;
}